@media screen and (max-width: 640px){
    .input-block > label {
        display: block;
    }
    .input-block > .input-field {
        padding: 10px 15px;
        margin-top: 10px;
        max-width: 100%;
        min-width: 90%;
    }
    form .button {
        padding: 25px 60px;
    
    }
}